#contacts {
    position: relative;
    width: 100%;
    background-color: rgb(215,132,124);
    color: white;
    text-align: center;
}

.wrapper {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.wrapper div {
    border: 2px solid #d0b473;
    padding: 3px;
}

#contacts p{
    color: black;
    font-weight: bold;
}

#contacts a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}